{{#if posts.length}}
<div class="card" id="post-list">
   {{#each posts as |post|}}
  <div class="card-content">
    {{#each post.trail as |trail|}}
    <div class="card-content">
      <div class="content">
       {{trail.content}}
      </div>
      <time>Posted by {{trail.name}} on {{format_date trail.createdAt}}</time>
      <p>---------------</p>
    </div>
    {{/each}}
    <div class="content">
       {{post.content}}
    </div>
    {{#if post.follow_tag}}
    <p style="font-style: italic;">Click the post to see more...</p>
    {{/if}}
  </div>
  <time>Posted by {{post.user.name}} on {{format_date createdAt}}</time>
  <footer class="card-footer">
    <button class="button is-success reblog-btn" type="button" id="{{post.id}}">Repost</button>
  </footer>
  {{/each}}
</div>
{{/if}}

<script src="./js/reblog-button.js"></script>
