<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to rePOST</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" id ='home' href="/">
        Home
      </a>

      <a class="navbar-item" id='friends'>
        Friends
      </a>
       <a class="navbar-item" id='dashboard' href="/dashboard">
        Dashboard
      </a>
    </div>
    
    <div class="navbar-end">
      <div class="navbar-item">
        {{#if logged_in}}
        <div class="buttons">
          <button class="button is-light" id="logout">
            Log Out
          </button>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

{{{ body }}}

{{#if logged_in}}
  <script src="./js/logout.js"></script>
{{/if}}

</body>
</html>
