

<div class="card col-6 my-4 mx-auto text-center">
  <form class="form-group" id="post-form">
    <label for="post-area">Welcome <strong>{{name}}!</strong> What do you want to blog about?</label>
    <textarea class="form-control" id="post-area" style="min-width: 50%"></textarea>
    <button class="btn btn-sm col-2 btn-primary" type="submit">Post</a>
  </form>
</div>



<h2 class="text-center">Recent posts:</h2>
{{#if posts.length}}
<div class="card mx-auto col-8 my-4">
  {{#each posts as |post|}}
  <div class="card-body">
    <h5 class="card-title">
        {{{post.content}}}
    </h5>
  </div>
  <div class="card-text text-right border-bottom">
    <p>created on {{format_date createdAt}}</p>
  </div>
  {{/each}}
</div>
{{/if}}

<script src='./js/newpost.js'></script>