

<form class="field" id="post-form">
  <label class="label">Welcome {{name}} What do you want to blog about?</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
  <button class="button is-success" type="submit">Post It</button>
</form>


{{#if posts.length}}
<div class="card">
   {{#each posts as |post|}}
  <div class="card-content">
    <div class="content">
       {{post.content}}
    </div>
  </div>
  <time>Posted on {{format_date createdAt}}</time>
  {{!-- <footer class="card-footer">
    <button class="button is-success" type="submit">Repost</button>
  </footer> --}}
  {{/each}}
</div>
{{/if}}
<script src='./js/newpost.js'></script>