

<div class="field">
  <label class="label">Welcome {{name}} What do you want to blog about?</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>