<div class="container text-center border">
<form class="form signup-form">
  <div class="field my-1">
    <h2>Create your account</h2>
    <div class="control">
      <input class="input" id="name-signup" type="text" placeholder="Username">
       <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>
  <div class="field my-1">
   <input class="input" id="email-signup" type="email" placeholder="Email ">
    <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
  </div>
  <div class="field my-1">
    <input class="input" id="password-signup" type="password"  placeholder="Password">
     <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success" type="submit">
        Sign Up
      </button>
    </p>
  </div>
</form>
</div>
<div class="container">
<form class="form login-form text-center border">
  <div class="field">
    <h2>Login if you already have an account</h2>
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" id="email-login" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" id="password-login" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success" type="submit">
        Log In
      </button>
    </p>
  </div>
</form>
</div>

<script src='./js/login.js'></script>