<ul>
  {{#each trail}}
  <li>
    <p>{{name}}</p>
    <p>{{content}}</p>
  </li>
  {{/each}}
</ul>

<form class="field" id="post-form">
  <div class="control">
    <textarea class="textarea" placeholder="Add something here..."></textarea>
  </div>
  <button class="button is-success" type="submit">Post It</button>
</form>

<script src="/js/reblog.js"></script>