{{!-- <ul>
  {{#each trail}}
  <li>
    <p>{{name}}</p>
    <p>{{content}}</p>
  </li>
  {{/each}}
</ul> --}}

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
   {{#each trail}}
  <div class="media-content">
    <div class="content">     
      <p>
        <strong><p>{{name}}</p></strong>
        <br>
        {{content}}
        <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
      </p>
    </div>
        {{/each}}
  </div>
</article>

<form class="field" id="post-form">
  <div class="control">
    <textarea class="textarea" placeholder="Add something here..."></textarea>
  </div>
  <button class="button is-success" type="submit">Post It</button>
</form>

<script src="/js/reblog.js"></script>
