{{!-- <ul>
  {{#each trail}}
  <li>
    <p>{{name}}</p>
    <p>{{content}}</p>
  </li>
  {{/each}}
</ul> --}}
<div class="container border mt-4">
  <div class="card">
    <ul class="list-unstyled">
  {{#each trail}}
  <li class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{name}}</h5>
      {{content}}
    </div>
  </li>
  {{/each}}
  </ul>
  <form class="field text-center" id="post-form">
  <div class="control">
    <textarea class="textarea" style="min-width: 100%" placeholder="Add something here..."></textarea>
  </div>
  <button class="button is-success" type="submit">Post It</button>
  </form> 
  </div>
</div>


<script src="/js/reblog.js"></script>